<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Remondo.Database.Repositories.Properties.Settings.RemondoConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Remondo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>